{{ with getJSON (printf "https://api.microlink.io/?url=%s" (.Get 0 )) }}
<div class="card centered" style="max-width:36rem;width:100%;margin-bottom:2rem;">
    <div class="card-header font-weight-bold" style="letter-spacing:.15rem;">
        <a href="{{ .data.url }}" target="_blank">{{ .data.title | title }}</a>
    </div>
    <div class="card-body">
        {{ if .data.image }}
            {{ with .data.image }}
            <img src="{{ .url }}" alt="" class="card-img-top rounded bordered mb-2" style="width:100%;height:auto">
            {{ end }}
        {{ else }}
            <img src="/img/siteimagemissing.png" alt="" class="card-img-top rounded bordered mb-2" style="width:100%;height:auto">
        {{ end }}
        <div class="mt-2 small">
                {{ with .data.description }}<caption>{{ . | htmlUnescape | markdownify }}</caption>{{ end }}
        </div>
    </div>
    <div class="card-footer">
        <div class="font-italic text-muted small">
            {{ with .data.author }}Author: {{ . }},&nbsp;{{ end }}
            {{ if and .data.author .data.publisher}}{{ end }}{{ with .data.publisher }}Publisher: {{ . }}{{ end }} 
            {{ with .data.date }}&nbsp;&middot;&nbsp;&nbsp;{{ dateFormat "Jan 02, 2006" . }}{{ end }}</div>
    </div>
</div>
{{ end }}