<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  prefix="og: https://ogp.me/ns#" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        {{ partial "seo_schema" . }}
        {{ with $.Scratch.Get "generalTitle" }}
            <title>{{ . }}</title>
        {{ else }}
            {{ with .Title }}
                <title>{{ . }}</title>
            {{ else }}
                <title>{{ .Site.Title }}</title>
            {{ end }}
        {{ end }}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {{ partial "favicon" . }}

        {{ with .Params.author }}
            <meta name="author" content="{{ . }}">
        {{ end }}
        {{ with .Description }}
            <meta name="description" content="{{ . }}">
        {{ else }}
            {{ with .Site.Params.description }}
                <meta name="description" content="{{ . }}">
            {{ end }}
        {{ end }}
        {{ $baseOgImage := "/img/h3_og_wide_defaultbanner.png" }}
        {{ if and (.IsPage) (.Params.ogfeatured) }}
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:image" content="{{ .Site.BaseURL }}/{{ .Params.featuredpath }}/{{ .Params.ogfeatured }}"/>
        {{ else }}
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:image" content="{{ .Site.BaseURL }}/{{ $baseOgImage }}"/>
        {{ end }}
        <meta name="twitter:image:type" content="image/png">
        <meta name="twitter:title" content="{{ .Title }}"/>
        <meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}"/>
        {{ if and (.IsPage) (.Params.ogfeatured) }}
        <meta name="image" property="og:image" content="{{ .Site.BaseURL }}/{{ .Params.featuredpath }}/{{ .Params.ogfeatured }}">
        {{ else }}
        <meta name="image" property="og:image" content="{{ .Site.BaseURL }}/{{ $baseOgImage }}">
        {{ end }}
        <meta name="title" property="og:title" content="{{ .Title }}"/>
        <meta name="description" property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}"/>
        <meta property="og:url" content="{{ .Permalink }}"/>
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
        {{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
        {{- if .IsPage }}
        {{- if not .PublishDate.IsZero }}<meta property="article:published_time" {{ .PublishDate.Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />
        {{ else if not .Date.IsZero }}<meta property="article:published_time" {{ .Date.Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />
        {{ end }}
        {{- if not .Lastmod.IsZero }}<meta property="article:modified_time" {{ .Lastmod.Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />{{ end }}
        {{- else }}
        {{- if not .Date.IsZero }}<meta property="og:updated_time" {{ .Lastmod.Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />
        {{- end }}
        {{- end }}{{/* .IsPage */}}

        {{- with .Params.audio }}<meta property="og:audio" content="{{ . }}" />{{ end }}
        {{- with .Params.locale }}<meta property="og:locale" content="{{ . }}" />{{ end }}
        {{- with .Site.Params.title }}<meta property="og:site_name" content="{{ . }}" />{{ end }}
        {{- with .Params.videos }}
        {{- range . }}
        <meta property="og:video" content="{{ . | absURL }}" />
        {{ end }}{{ end }}

        {{ template "_internal/schema.html" . }}

            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">

        {{ if isset .Site.Params "customcss" }}
            {{ $.Scratch.Set "cssFiles" .Site.Params.customCSS }}
        {{ else }}
            {{ $.Scratch.Set "cssFiles" false }}
        {{ end }}
        <!-- If the value "default" is passed into the param then we will first
             load the standard css files associated with the theme  -->
        {{ if or (in ($.Scratch.Get "cssFiles") "default") (eq ($.Scratch.Get "cssFiles") false) }}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-light.min.css">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400,800,900|Source+Sans+Pro:400,700">
            <link rel="stylesheet" href="{{ "css/main.css" | relURL }}">
            <link disabled id="dark-mode-theme" rel="stylesheet" href="/css/dark.css">
        {{ end }}

        {{ if ne ($.Scratch.Get "cssFiles") false }}
            {{ range $.Scratch.Get "cssFiles" }}
                {{ if ne . "default" }}
                    <link rel="stylesheet" href="{{ . | relURL }}">
                {{ end }}
            {{ end }}
        {{ end }}

{{ if (not .Params.disable_highlight) }}
  {{ $highTheme := .Site.Params.highlightjsTheme }}
    {{ with .Site.Params.highlightjsVersion }}
    <link href='{{ $.Site.Params.highlightjsCDN | default "//cdn.bootcss.com" }}/highlight.js/{{ . }}/styles/{{ $highTheme }}.min.css' rel='stylesheet' type='text/css' />
  {{ end }}
{{ end }}
{{ template "_internal/google_analytics.html" . }}

    </head>
    <body>

      <!-- Wrapper -->
      <div id="wrapper">
