<!-- Social Share Button HTML -->

<!-- Twitter -->
{{ if .Site.Params.socialShareTwitter | default true}}
<li>
  <a href="//twitter.com/share?url={{ .Permalink }}&amp;text={{ .Title }}&amp;via={{ .Site.Social.twitter }}" target="_blank" class="share-btn email">
    <i class="fab fa-x-twitter"></i>
    <p>Twitter</p>
    </a>
</li>
{{ end }}

<!-- Reddit -->
{{ if .Site.Params.socialShareReddit | default true}}
<li>
  <a href="//reddit.com/submit?url={{ .Permalink }}&amp;title={{ .Title }}" target="_blank" class="share-btn reddit">
    <i class="fab fa-reddit-alien"></i>
    <p>Reddit</p>
  </a>
</li>
{{ end }}

<!-- Reddit -->
{{ if .Site.Params.socialShareDiscord | default false}}
<li>
  <a href="//reddit.com/submit?url={{ .Permalink }}&amp;title={{ .Title }}" target="_blank" class="share-btn discord">
    <i class="fab fa-discord"></i>
    <p>Reddit</p>
  </a>
</li>
{{ end }}

<!-- Reddit -->
{{ if .Site.Params.socialShareSlack | default false}}
<li>
  <a href="//reddit.com/submit?url={{ .Permalink }}&amp;title={{ .Title }}" target="_blank" class="share-btn slack">
    <i class="fab fa-slack"></i>
    <p>Reddit</p>
  </a>
</li>
{{ end }}

<!-- LinkedIn -->
{{ if .Site.Params.socialShareLinkedin | default true}}
<li>
  <a href="//www.linkedin.com/shareArticle?url={{ .Permalink }}&amp;title={{ .Title }}" target="_blank" class="share-btn linkedin">
      <i class="fab fa-linkedin"></i>
      <p>LinkedIn</p>
    </a>
</li>
{{ end }}

<!-- Facebook -->
{{ if .Site.Params.socialShareFacebook | default true}}

<li>
  <a href="//www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" class="share-btn facebook">
    <i class="fab fa-facebook"></i>
    <p>Facebook</p>
    </a>
</li>
{{ end }}

<!-- Email -->
{{ if .Site.Params.socialShareEmail | default true}}
<li>
  <a href="mailto:?subject=Check out this post by {{ .Params.author }}&amp;body={{ .Permalink }}" target="_blank" class="share-btn email">
    <i class="fas fa-envelope"></i>
    <p>Email</p>
  </a>
</li>
{{ end }}
