<!-- Sidebar -->
<section id="sidebar">
  <!-- Intro -->
  <section id="intro">
    {{ $pic := .Site.Params.intro.pic }}
    {{ with $pic.src }}
      {{ if $pic.circle }}
        <a href='{{"/" | relURL}}'><img src="{{ . | relURL }}" class="intro-circle filter-none" width="{{ $pic.width }}" alt="{{ $pic.alt }}" /></a>
      {{ else if $pic.imperfect }}
        <a href='{{"/" | relURL}}' class="logo"><img class="filter-none" src="{{ . | relURL }}" alt="{{ $pic.alt }}" /></a>
      {{ else }}
        <a href='{{"/" | relURL}}'><img class="filter-none" src="{{ . | relURL }}" width="{{ $pic.width }}" alt="{{ $pic.alt }}" /></a>
      {{ end }}
    {{ end }}
    {{ with .Site.Params.intro }}
      <header>
        <h2>{{ .header }}</h2>
        {{ .paragraph | safeHTML }}
      </header>
    {{ end }}
    {{ if .Site.Params.socialAppearAtTop }}
      <ul class="icons">
        {{ partial "social" . }}
      </ul>
    {{ end }}
  </section>

  <!-- Posts List -->

  <section class="recent-posts">
    <div class="mini-posts">
      <header>
        <h3>Other Selected Posts</h3>
      </header>
      <div class="posts-container">
        {{ $.Scratch.Set "recentPosts" .Site.Pages }}
         

          {{ with .Site.Params.postAmount.sidebar }}
            {{ $.Scratch.Set "postLimit" . }}
          {{ else }}
            {{ $.Scratch.Set "postLimit" 3 }}
          {{ end }}

          {{ range first ($.Scratch.Get "postLimit") (shuffle (where (where (where ($.Scratch.Get "recentPosts") "Type" "post") "Title" "!=" .Title ) "Title" "!=" "Post")) }}
           {{ if not .Params.hidden  }}
            <article class="mini-post">
              <header>
                <h3>
                  <a href="{{ .RelPermalink }}">{{ if .Params.draft }}{{ "[Draft] " }}{{ end }}{{ .Title }}</a>
                </h3>
                {{ $.Scratch.Set "dateType" .Date }}
                <time class="published" datetime='{{ ($.Scratch.Get "dateType").Format "2006-01-02" }}'>
                  {{ ($.Scratch.Get "dateType").Format "January 2, 2006" }}
                </time>
              </header>
              {{ .Render "featured" }}
            </article>
          {{ end }}
        {{ end }}
      </div>

      {{ if ge (len (where .Site.Pages "Type" "post")) ($.Scratch.Get "postLimit") }}
        <a href=
          {{ with .Site.Params.viewMorePostLink }}
            {{ . }}
          {{ else }}
            "/post/"
          {{ end }}
        class="button">View more posts</a>
      {{ end }}
    </div>
  </section>

  <!-- About -->
  {{ with .Site.Params.intro.about }}
    <section id="mini-bio">
      <h3>About</h3>
      <p>{{ . | safeHTML }} <i class="fal fa-smile-beam" aria-hidden="true"></i></p>
      <a href="/about/" class="button">Learn More</a>
    </section>
  {{ end }}

  <!-- Footer -->
  <section id="footer">
    {{ if .Site.Params.socialAppearAtBottom }}
      <ul class="icons">
        {{ partial "social" . }}
        <li>
        <a href="/contact/" class="fas fa-envelope"></a>
        </li>
      </ul>
    {{ end }}
    <p class="copyright">
      {{ with .Site.Copyright | safeHTML }}
        {{ . }}
      {{ else }}
        &copy; {{ .Site.LastChange.Year }}
        {{if isset .Site.Params "author" }}
          {{ .Site.Params.author}}
        {{ else }}
          {{ .Site.Title }}
        {{ end }}
      {{end}}.
      Powered by <a href="//gohugo.io" target="_blank">Hugo</a><br>with a bit of <a href="https://github.com/houstonhaynes/fsharp_webparser" target="_blank">F# and .NET running on Linux</a>.
    </p>
</span>
  </section>
    <!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Dark Mode Setting</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
    <div class="row align-middle">
      <div class="modal-body col-xs-4">
        {{ $pic := .Site.Params.intro.pic }}
        {{ with $pic.src }}
          {{ if $pic.circle }}
            <img src="{{ . | relURL }}" class="mx-auto d-block rounded-circle filter-none" width="96px" alt="{{ $pic.alt }}" />
          {{ else if $pic.imperfect }}
            <img class="filter-none mx-auto d-block" src="{{ . | relURL }}" width="96px" alt="{{ $pic.alt }}" />
          {{ else }}
            <img class="filter-none mx-auto d-block" src="{{ . | relURL }}" width="96px" alt="{{ $pic.alt }}" />
          {{ end }}
        {{ end }}
      </div>
      <div class="modal-body col-xs-8 align-middle text-center">
        Local view mode setting has been removed.<br> 
        This site now uses browser/OS default.
      </div>
    </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-small" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
</section>
