{{ partial "header" . }}
    {{ $.Scratch.Set "shareNav" true }}
    {{ partial "navbar" . }}
    {{ partial "share-menu" . }}
    <!-- Main -->
    <div id="main">
        <!-- Post -->
        {{ $.Scratch.Set "h1" true }}
        {{ .Render "content-single" }}
        {{ if .IsPage }}
        <table class="GitHub rounded" id="GitInfo" style="display:run-in;">
            <thead>
                <tr>
                    <td>Key</td>
                    <td>Value</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>BuildDateTime</td>
                    <td>{{ dateFormat "2006-01-02 15:04:05 -0700" now.Local }}</td>
                </tr>
                <tr>
                    <td>LastGitUpdate</td>
                    <td>{{ dateFormat "2006-01-02 15:04:05 -0700" .Page.Lastmod.Local }}</td>
                </tr>
                <tr>
                    <td>GitHash</td>
                    <td>{{ .GitInfo.AbbreviatedHash }}</td>
                </tr>
                <tr>
                    <td>CommitComment</td>
                    <td>{{ .GitInfo.Subject }}</td>
                </tr>
            </tbody>
        </table>{{ end }}
    </div>
    {{ partial "sidebar" . }}
{{ partial "footer" . }}
