

{{ if not .Params.hidden }}
{{ partial "general-title" . }}

{{ partial "header" . }}
    {{ partial "navbar" . }}
    <!-- Main -->
    <div id="main">
        <div class="title">
            {{ if $.Scratch.Get "h1" }}
                <h1 class="{{ .Params.icon }}"><a href="{{ .RelPermalink }}">  {{ .Title }}</a></h1>
                {{ $.Scratch.Set "h1" false }}
            {{ else }}
                <h2 class="{{ .Params.icon }}"><a href="{{ .RelPermalink }}">  {{ .Title }}</a></h2>
            {{ end }}
            {{ with .Description }}
            <p>{{ . }}</p>
            {{ end }}
        </div>
        <div class="clearfix"><img class="ui small float-left rounded bordered image filter-none mr-3" src="/img/H3_suit.jpg">Since you were likely referred one of my public profiles, you might have an idea of my skills and background. However, there’s more to my story than you’ll find on LinkedIn or online resume listings. The following notes provide work history from the time I left college until I relocated to the west coast. Since I refer to this formative period throughout this site I thought it worth providing some context here.</div>
        <ul class="icons large">
            {{ if .Site.Params.rssAppearAtBottom }}
            {{ partial "rss-icon" . }}
            {{ end }}
            {{ partial "social" . }}
            <li>
            <a href="/contact/" class="fas fa-envelope"></a>
            </li>
        </ul>
        {{ $paginator := .Paginate (where .Data.Pages "Type" "itemized") 10 }}
        {{ range .Paginator.Pages }}
            {{ .Render "content-list" }}
        {{ end }}

    </div>
    {{ partial "sidebar" . }}
{{ partial "footer" . }}
{{ end }}