.badge {
    padding: .5rem;
    margin: .5rem;
    font-size: 1rem;
}

.rounded {
    border-radius: 8px !important;
}

.listdescription {
    clear: both;
}

.thumbnail {
    max-width: 20% !important;
    width: auto;
    height: auto;
    float: left;
    margin: 0 1.5em 1em 0;
}

.circular {
    border-radius: 50%;
}

.bordered {
    border: solid 2px rgba(160, 160, 160, 0.3);
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.twitter-tweet-rendered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#fancybox-wrap {
    float: left;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#header ul li {
    margin: 0 !important;
    border-left: none !important;
}

#header nav.menu {
    margin-right: 1em;
    align-self: center;
    vertical-align: middle;
}

#header .darkMode {
    font-size: 0.6em;
    width: 4rem;
    text-align: center;
    opacity: 0.75;
    filter: alpha(opacity=75);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
}

#header h1 a {
    /* opacity: 0.75;
    filter: alpha(opacity=75);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; */
    display: none;
}

.darkMode ul {
    padding-left: 0 !important;
    display: inline;
}

.darkMode ul li {
    padding-left: 0 !important;
    line-height: 1em;
    display: inline;
}

.darkMode ul li:nth-child(2) {
    width: .5em;
    border-left: 1px;
}

#main .GitHub {
    font-family: "Ubuntu", Helvetica, sans-serif;
    font-size: 0.75em;
    font-weight: 400;
    letter-spacing: 0.1em;
}

#sidebar #intro a {
    text-decoration: none !important;
    outline: none;
    border: 0px !important;
    border-width: 0px;
    outline-width: 0px;
    border-bottom: none;
}

#main #intro a {
    text-decoration: none !important;
    outline: none;
    border: 0px !important;
    border-width: 0px;
    outline-width: 0px;
    border-bottom: none;
}

#header ul li a {
    text-decoration: none !important;
    outline: none;
    border: 0px !important;
    border-width: 0px;
    outline-width: 0px;
    border-bottom: none;
}

input[type="text"] {
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
}

textarea {
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    resize: none;
}

.gist .blob-code-inner {
    white-space: pre-wrap !important;
}

#content a[target="_blank"]:after {
    font-family: "FontAwesome";
    font-weight: 900;
    content: " \f08e";
    font-size: .8em;
    padding-left: .2em;
}

figcaption.caption {
    margin: 0;
    line-height: 1.2em;
    color: #777;
    text-align: center;
    font-style: italic;
}

img.ld.ld-heartbeat {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div#container.ld-over.running:before {
    border-radius: 8px !important;
}

.title .image {
    -moz-transition: -moz-transform 0.2s ease-out;
    -webkit-transition: -webkit-transform 0.2s ease-out;
    -ms-transition: -ms-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
}

.title .image:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}


/* make cursor transition to pointer
   for mouse-over of toggle (like menu items) */

a#dark-mode-toggle {
    cursor: pointer;
}

a#clear-dark-mode {
    cursor: pointer;
}


/* adding fancybox image overlay */

.fancybox {
    position: relative;
}

.fancybox a img {
    display: block;
}

.fancybox .fa-search-plus {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20pt;
    z-index: 9999;
}

.fancybox-bg {
    background: #FFF !important;
}

.fancybox-slide--iframe .fancybox-content {
    max-width: 90% !important;
    max-height: 90% !important;
    margin: 0;
}

.modal-backdrop {
    background: #FFF !important;
    opacity: 95% !important;
    z-index: 10000;
}

.modal.show {
    z-index: 10001;
}

.vertical {
    -ms-transform: rotate(270deg);
    /* IE 9 */
    -webkit-transform: rotate(270deg);
    /* Chrome, Safari, Opera */
    transform: rotate(270deg);
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.alert {
    position: relative;
}

.close {
    right: 10px;
    top: 50%;
    vertical-align: middle;
}


/* heartbeat pulsing SVG for contact form */

.lds-heart {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform-origin: 60px 60px;
    left: 50%;
    margin-left: -4em;
}

.lds-heart div {
    position: relative;
    width: 80px;
    height: 80px;
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.lds-heart div:after,
.lds-heart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 80px;
    height: 80px;
}

.lds-heart div:before {
    left: -24px;
    border-radius: 50% 0 0 50%;
}

.lds-heart div:after {
    top: -24px;
    border-radius: 50% 50% 0 0;
}

@keyframes lds-heart {
    0% {
        transform: scale(0.95);
    }
    5% {
        transform: scale(1.1);
    }
    39% {
        transform: scale(0.85);
    }
    45% {
        transform: scale(1);
    }
    60% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(0.9);
    }
}

button.button.btn-block.vitae-up:before {
    font-family: "FontAwesome";
    font-weight: 900;
    content: '\f062';
}

button.button.btn-block.vitae-back:before {
    font-family: "FontAwesome";
    font-weight: 900;
    content: '\f060';
}

div.time-capsule {
    display: table;
}

div.time-capsule:before {
    font-family: "FontAwesome 5 Pro Solid";
    font-weight: 900;
    content: '\f723';
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    display: table-cell;
    vertical-align: middle;
}

div.perspective {
    display: table;
}

div.perspective:before {
    font-family: "FontAwesome 5 Pro Solid";
    font-weight: 900;
    content: '\f5ad';
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    display: table-cell;
    vertical-align: middle;
}

div.alert-warning {
    display: table;
}

div.alert-warning:before {
    font-family: "FontAwesome 5 Pro Solid";
    font-weight: 900;
    content: '\f321';
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    display: table-cell;
    vertical-align: middle;
}

a#back-to-top:hover {
    text-decoration: none !important;
}

#content blockquote,
#content p,
#content ul {
    margin-top: 0 !important;
}

.opacity-0 {
    opacity: 0!important;
}

.opacity-1 {
    opacity: 0.2!important;
}

.opacity-2 {
    opacity: 0.4!important;
}

.opacity-3 {
    opacity: 0.6!important;
}

.opacity-4 {
    opacity: .8!important;
}

.opacity-5 {
    opacity: 1!important;
}

.opacity-0h5 {
    opacity: 0!important;
    transition: opacity .25s ease-in-out!important;
    -moz-transition: opacity .25s ease-in-out!important;
    -webkit-transition: opacity .25s ease-in-out!important;
}

.opacity-0h5:hover {
    opacity: 1 !important;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: #3c3b3b;
    font-family: "Ubuntu", Helvetica, sans-serif;
    font-weight: 800;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border: 0;
    border-bottom: solid 2px rgba(160, 160, 160, 0.3);
    margin: 2em 0;
}

.separator::before {
    margin-right: .25em;
}

.separator::after {
    margin-left: .25em;
}

.widgetframe {
    margin-top: .25rem;
    margin-bottom: 2rem;
}

.card {
    border-radius: 1rem;
}

h1 {
    margin-top: 2rem !important;
}

.post>header .title h1 {
    margin-top: 0rem !important;
}

header h1 {
    margin-top: 0rem !important;
}

h2 {
    margin-top: 1.5rem !important;
}

div.card h2 {
    margin-top: 0rem !important;
}

h3 {
    margin-top: 1.25rem !important;
}

ul.icons.large {
    margin-left: .5rem;
}

ul.icons.large li>*:before {
    font-size: 1.25rem;
    opacity: 0.75;
    filter: alpha(opacity=75);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
}